* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul {
    list-style: none;
}

body {
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    /* largura em 100% (responsivo a tam. tela) com auto p/ altura  */
    background-repeat: no-repeat;
    background-color: #121214;
}

body *{
    font-family: 'Inter', sans-serif;
}

/* comando (*) para atribuir um comando a todos os elementos do main */
main *{
    border: 2px solid red;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;

}

section {
    color: white;
}